*, *:before, *:after {
  box-sizing: border-box;
}
.post {
  background: #F8F6F8;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;
  float: left;
  color: #605F60;
  width: 93%;
}
select {
  background: white;
    border: 1px solid grey;
    width: 130px;
    height: 80px;
    display: block;
    margin-left: 545px;
    margin-top: -35px;
    color: #898889;
    -webkit-appearance: none;
    padding-left: 5px;
}
article {
  min-width: 95%;
  margin-left: 30px;
}
nav {
  padding-left: 30px;
  margin-top: -10px;
  display: inline-block;
  color: #898889;
  background: #F8F6F8;
  width: 100%;
}
li {
  list-style-type: none;
  padding: 20px;
  display: inline-block;
}
span {
  padding-right: 20px;
}
.comment-form {
  padding-left: 50px;
  line-height: 1.5em;
  float: left;
}
.button {
  background-color: #ddb640;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  margin: 10px;
}
.button2 {
  margin-left: -20px;
  color: #605F60;
  padding: 0px 5px;
}
label {
  display: block;
}
img {
  float: left;
  padding: 10px;
}
p, h1, h2, h3 {
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Ariel;
}
h3 {
  margin-top: 5px;}
p, span h3 {
  padding-left: 5px;
  padding-right: 10px;
}
.author {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.author:after {
  clear: both;
  visibility: hidden;
}
.fa {
  border: none;
  color: #605F60;
/*   background: #F8F6F8;
 */  padding: 5px;
}
.comment {
  display: block;
  margin: 10px;
  margin-left: 200px;
}
/* i {
  padding-top: -10px;
}
 */.black {
  font-weight: bold;
  line-height: .25em;
  color: #605F60;
  padding-left: 5px;
}
.green {
  font-weight: bold;
  padding-left: 5px;
  color: #19a817;
}
.red {
  font-weight: bold;
  padding-left: 5px;
  color: red;
}
